.button_top_active {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: var(--green, #393);
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 3px #17c603;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  opacity: 1;
  cursor: pointer;
}

.button_top {
  transition: 1s;
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .button_top_active {
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .button_top_active {
    font-size: 30px;
  }
}
