.allProducts_container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 40px 40px 80px 40px;
}

.allProducts_container>.products_container {
  align-items: center;
}

.title_page {
  color: var(--txt-black, #282828);
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 29px;
}