.allProducts_container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 40px 40px 80px 40px;
}

.title_page {
  color: var(--txt-black, #282828);
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}

.filter_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 29px;
}

@media screen and (max-width: 1400px) {
  .allProducts_container {
    row-gap: 20px;
    padding: 20px 20px 40px 20px;
  }

  .title_page {
    font-size: 64px;
  }

  .products_container {
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .products_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .title_page {
    font-size: 56px;
  }

  .filter_container {
    column-gap: 32px;
    row-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .title_page {
    font-size: 48px;
  }

  .filter_container {
    row-gap: 16px;
  }
}

@media screen and (max-width: 480px) {
  .products_container {
    display: flex;
    justify-content: center;
  }

  .title_page {
    font-size: 40px;
  }
}
