.header {
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  border-bottom: 1px solid var(--grey-divider, #DDD);
  background: var(--white, #FFF);
  position: sticky;
  top: 0;
  z-index: 2;
}

.links_container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
}

.link {
  color: var(--txt-black, #282828);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}

.link:hover{
transform: scale(1.12);
}

.active {
  transform: scale(1.12);
  /* border-bottom: 2px solid var(--green, #393); */
  color: var(--green, #393);
  /* box-shadow: -6px 0 white, 6px 0 white, 0 7px 10px -5px var(--green, #393); */
}

.icon_logo {
  width: 70px;
  height: 70px;
}

.icon_cart {
  width: 48px;
  height: 48px;
}