.product_container {
  width: 316px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  gap: 20px;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #ddd);
}

.product_container:hover {
  transition: all 80ms;
  transform: translateY(-6px);
  box-shadow: 0 6px 10px 4px rgb(94, 255, 0), 0 8px 24px 3px rgb(94, 255, 0);
}

.img_container {
  position: relative;
}

.img_products {
  width: 314px;
  height: 284px;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid var(--grey-divider, #ddd);
  border-radius: var(--radius-big, 12px) var(--radius-big, 12px) 0 0;
}

.btnAdd {
  width: 90%;
  padding: 16px 32px;
  position: absolute;
  left: 16px;
  bottom: 16px;
  border: none;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  color: var(--txt-white, #fff);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  cursor: pointer;
  transition: all 0.3s ease-out;
  transform: scale(1);
  opacity: 0;
}

.product_container:hover .btnAdd {
  opacity: 1;
}

.btnAdd:hover {
  background: var(--black, #282828);
  transform: scale(1.04);
}

.btnAdd:active {
  background: var(--txt-white, #282828);
  transform: scale(1);
  transition: all 0.1s ease-out;
  color: #282828;
}

.discount {
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 4px 8px;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  text-align: center;
  color: var(--txt-white, #fff);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
}

.description_container {
  width: 100%;
  padding: 0 16px 16px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}

.title {
  color: var(--txt-black, #282828);
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.price_container {
  display: flex;
  align-items: flex-end;
  column-gap: 16px;
}

.price {
  color: var(--txt-black, #282828);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}

.discount_price {
  color: var(--txt-grey, #8b8b8b);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: line-through;
}

@media screen and (max-width: 1400px) {
  .product_container {
    width: 225px;
  }

  .img_products {
    width: 223px;
    height: 250px;
  }

  .discount {
    right: 12px;
    top: 12px;
  }

  .title {
    font-size: 20px;
  }

  .price {
    font-size: 35px;
  }

  .discount_price {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .product_container {
    width: 45vw;
  }

  .btnAdd {
    display: none;
  }

  .img_products {
    width: 44.7vw;
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .description_container {
    padding: 0 12px 12px 12px;
    row-gap: 12px;
  }

  .title {
    font-size: 18px;
  }

  .price {
    font-size: 30px;
  }

  .discount_price {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .product_container {
    width: 90vw;
  }

  .img_products {
    width: 89.5vw;
    height: 335px;
  }

  .description_container {
    padding: 0 16px 16px 16px;
    row-gap: 16px;
  }

  .title {
    font-size: 18px;
  }

  .price {
    font-size: 36px;
  }

  .discount_price {
    font-size: 18px;
  }
}
